@font-face {
    font-family: "KaLaTeXaDisplay";
    font-weight: 700;
    font-style: normal;
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Bold.eot");
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Bold.eot?#iefix")format("embedded-opentype"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Bold.woff2")format("woff2"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Bold.woff")format("woff");
}

@font-face {
    font-family: "KaLaTeXaDisplay";
    font-weight: 100;
    font-style: normal;
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Light.eot");
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Light.eot?#iefix")format("embedded-opentype"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Light.woff2")format("woff2"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Light.woff")format("woff");
}

@font-face {
    font-family: "KaLaTeXaDisplay";
    font-weight: 400;
    font-style: normal;
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Regular.eot");
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Regular.eot?#iefix")format("embedded-opentype"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Regular.woff2")format("woff2"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaDisplay-Regular.woff")format("woff");
}

@font-face {
    font-family: "KaLaTeXaText";
    font-weight: 700;
    font-style: normal;
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Bold.eot");
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Bold.eot?#iefix")format("embedded-opentype"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Bold.woff2")format("woff2"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Bold.woff")format("woff");
}

@font-face {
    font-family: "KaLaTeXaText";
    font-weight: 400;
    font-style: normal;
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Regular.eot");
    src: url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Regular.eot?#iefix")format("embedded-opentype"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Regular.woff2")format("woff2"),url("https://www0.dek-d.com/assets/fonts/KaLaTeXaText-Regular.woff")format("woff");
}

#root {
    font-family: KaLaTeXaDisplay;
    font-weight: normal;
}